<%- include('partials/header'); -%>

<!-- Page Heading -->
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div
    class="
      card-header
      py-3
      d-flex
      flex-row
      align-items-center
      justify-content-between
    "
  >
    <h6 class="m-0 font-weight-bold text-primary">Patient Details</h6>
    <div class="dropdown no-arrow">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
        aria-labelledby="dropdownMenuLink"
        style=""
      >
        <a class="dropdown-item" href="#">Edit</a>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    Name: <%=patient.name%> <br />
    Age: <%=patient.birthdate%><br />
    Address:<%=patient.address%> <br />
    Last Appointment: Lorem <br>
    <form action="/diagnosis" method="post">
    <input type="hidden" name="id" value="<%=patient._id%>">
    <textarea class="form-control" rows="3" name="diagnosis"></textarea>
        <button type="submit" class="btn-sm btn btn-success btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-check"></i>
          </span>
          <span class="text">Submit</span>
        </button>
      </form>
  </div>

  <div class="card mb-4">
    <!-- History -->
    <a
      href="#collapseCardExample"
      class="d-block card-header py-3"
      data-toggle="collapse"
      role="button"
      aria-expanded="true"
      aria-controls="collapseCardExample"
      <h6 class="m-0 font-weight-bold text-primary">History</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
      <div class="card-body">
        Date: <br>
        Diagnosis:
      </div>
  </div>
</div>
<%- include('partials/footer'); -%>
