<%- include('partials/header'); -%>

<div class="card shadow mb-4">
  <form action="/diagnosis/edit/<%=patient_id%>/<%=result._id%>" method="post">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-10">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Date</label>
            <input
              type="date"
              class="form-control"
              name="date"
              value="<%=date%>"

            />
          </div>
          <label >Diagnosis</label>
          <textarea class="form-control" rows="3" name="diagnosis" ><%=result.diagnosis%></textarea>      
        </div>      
    </div>
    <button type="submit" class="btn btn-primary">Update</button>

  </form>
</div>

<%- include('partials/footer'); -%>
