<%- include('partials/header'); -%>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Patients Table</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Location</th>
            <th>Age</th>
            <th>Last Appointment</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Location</th>
            <th>Age</th>
            <th>Last Appointment</th>
          </tr>
        </tfoot>
        <tbody>
          <% found.forEach(function(patient){%>

          <tr onclick="window.location='patients/<%=patient._id%>' ;">
            <td><%=patient.name%></td>
            <td><%=patient.gender%></td>
            <td><%=patient.address%></td>
            <td><%=patient.birthdate%></td>
            <td>2011/04/25</td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
