<%- include('../partials/header'); -%>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Patients Table</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Stocks</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Stocks</th>
          </tr>
        </tfoot>
        <tbody>
          <%result.forEach(function(medicine){%>            
            <tr data-toggle="modal" data-target="#exampleModal">
              <td><%=medicine.name%></td>
              <td><%=medicine.type%></td>
              <td><%=medicine.description%></td>
              <td><%=medicine.stocks%></td>
            </tr>
            <%})%>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/medicine?_method=PUT" method="POST">
        <label for="inputAddress">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          value=""
        />
        <label for="inputAddress">Type</label>
        <input
          type="text"
          class="form-control"
          name="type"
        />
        <label for="inputAddress">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
        />
        <div class="form-group col-md-3">
          <label for="inputAddress">Stocks</label>
          <input
            type="number"
            class="form-control"
            name="stocks"
          />
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50">
              <i class="fas fa-check"></i>
          </span>
          <span class="text">Save Changes</span>
      </a>      </div>
      </form>
      <div>
        <form action="/medicine?_method=DELETE" method="post">
          <input type="hidden" value="" name="delete">
          <button type="submit" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">Delete</span>
        </a>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


<script>
// get the clicked row and put it in the modal
var trs = document.querySelectorAll("tr");
for (var i = 0; i < trs.length; i++)
  (function (e) {
    trs[e].addEventListener("click", function () {
      row = this.textContent.split(' ').join('').split("\n");
      let input = document.querySelectorAll("input");
      console.log(input)
      input[1].setAttribute("value", row[1])
      input[2].setAttribute("value", row[2])
      input[3].setAttribute("value", row[3])
      input[4].setAttribute("value", row[4])
      input[5].setAttribute("value", row[1])
    }, false);
  })(i);
</script>

<%- include('../partials/footer'); -%>
